* {
    font-family: 'Monaco', 'Lucida Console', monospace;
    z-index:2;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    color: white;
    overflow-x: hidden;
}
a, tt, i, b, strong, code {
    color: #FFF;
    font-style: normal;
    z-index: 3;
    position: relative;
    font-weight: normal;
}
hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    margin: 0;
}
// Lynx-Only
.lo {
    display: none !important;
}

center {
    display: flex;
    justify-content: flex-end;
}
#sb {
    justify-content: space-between;
    text-align: center;
    background: black;
    padding: 5px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    width: 100%;
    line-height: 35px;
}
center.centered {
    justify-content: center !important;

    &.-b {
        background: black;
        padding: 10px;
        @media only screen and (max-width : 480px) {
            width: calc(~'100%' - 18px);
        }
    }

    &.-e {
        background: #990000;
    }
}
#sb #nc {
    padding: 0;
}
.f, #af, .bb {
    border: 1px solid #222;
    border-bottom: none;
    display: block;
    min-height: 40px;
    line-height: 40px;
    width: 300px;
    max-width: 100%;
    text-align: left;
    cursor: pointer;
    color: black;
    position: relative;
}
.f a {
    font-family: sans-serif;
    font-weight: bold;
    color: #b0b0b0;
    font-size: 24px;
    padding: 0 5px;
    min-width: 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    background: #444;
    z-index: 10;
}
.qn a {
    background-color: #FEDA31;
    color: #000;
}
.qg a {
    background-color: #009444;
    color: #000;
}
.qb a {
    background-color: #ED1C24;
    color: #000;
}
.f .fb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: url('../f.svg') ~"130px 4px/170px" auto no-repeat;

}
// Hotel
.f.-h {
    background: #D385B8;
    .fb {
        background-position-y: -318px;
    }
}
// Housekeeping
.f.-m {
    background: #A3CF62;
    .fb {
        background-position-y: -226px;
    }
}
// Security
.f.-p {
    background: #A3CF62;
    .fb {
        background-position-y: -180px;
    }
}
// Medical
.f.-d {
    background: #A3CF62;
    .fb {
        background-position-y: -134px;
    }
}
// Restaurant
.f.-r {
    background: #AAA5D2;
    .fb {
        background-position-y: -88px;
    }
}
// Shop
.f.-s {
    background: #AAA5D2;
    .fb {
        background-position-y: -42px;
    }
}
// Theatre
.f.-t {
    background: #AAA5D2;
    .fb {
        &:after {
            content: '';
            display: block;
            position: absolute;
            background: red;
            width: 73px;
            height: 23px;
            left: 181px;
            top: 9px;
            animation: 4s linear infinite mov;
        }
    }
}
#m .f.-t .fb:after {
    left: 191px;
    top: 8px;
}
@keyframes mov {
    0% {background:red;}
    30% {background:yellow;}
    60% {background:blue;}
    100% {background:red;}
}
// Condo
.f.-c {
    background: #FAAE74;
    .fb {
        background-position-y: -272px;
    }
}
// Office
.f.-o {
    background: #B4E2EC;
    .fb {
        background-position-y: -364px;
    }
}
// Empty
.f.-v {
    background: #444444;

    .fb {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    &:hover, &:focus {
        .fb {
            filter: none !important;
            -webkit-filter: none !important;
        }
    }
}
.f.-e {
    background: #000000;
    .fb {
        background: none;
    }
}
// Lobby
.f.-l {
    background: url('../c.svg') ~"0px -43px/42px auto" #444444;
}

.n {
    display: inline-block;
    background: black;
    min-width: 71px;
    padding: 0px 10px;
    letter-spacing: -1px;
    line-height: 40px;
}
