@import "base.less";

body {
    background: linear-gradient(to bottom, #00000c,#191621,#20202c,#3a3a52,#515175,#8a76ab,#cd82a0,#eab0d1,#ebb2b1,#b1b5ea,#94dfff,#67d1fb,#38a3d1,#246fa8,#1e528e,#5b7983,#9da671,#e9ce5d,#b26339,#00000c);
    background-size: 100% 1000vh;
    background-attachment: fixed;
    transform: translateZ(0);
}
body:before {
    content: '';
    display: block;
    position: fixed;
    bottom:0;
    height: 60px;
    width: 100%;
    background: url('i.svg') ~"0px 60px/60px auto";
}
// Floors
.f, .bt, .af, .bb {
    display: block;
}
.f, .af, .bb {
    color: #CCCCCC;
    background: black;
    padding: 0;
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
.af, .bb {
    justify-content: center;
}
.f img, .f .sp {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding: 0 12px;
    object-fit: cover;
}

.h {
    object-position: 0 -25px;
}
.s {
    object-position: 0 -75px;
}
.n {
    object-position: 0 -50px;
}
.e {
    object-position: 0 0;
}
.f:hover a {
    color: #9D5548;
    background: rgba(0,0,0,0.8);
}
.t {
    margin-top: 100px;
    flex-direction: column;
    min-height: calc(~'100%' - 100px);
}
#nc {
    width: 34px;
    height: 34px;
    background: #666;
    padding: 0;
    position: relative;
    right: 9px;
}
#cf {fill:transparent;}
#ch, #cm { fill: #fff; }
