@import "base.less";

body {
    background: #1E528E;
    background: linear-gradient(to bottom, #00000c,#191621,#20202c,#3a3a52,#515175,#8a76ab,#cd82a0,#eab0d1,#ebb2b1,#b1b5ea,#94dfff,#67d1fb,#38a3d1,#246fa8,#1e528e,#5b7983,#9da671,#e9ce5d,#b26339,#00000c);
    background-size: 100% 1000%;
    background-size: 100% 1000vh;
    background-attachment: fixed;
}
body:before {
    content: '';
    display: block;
    position: fixed;
    bottom:0;
    height: 60px;
    width: 100%;
    background: url('../c.svg') ~"0px 0px/58px" auto;
}
// Floors
.f, .bt, #af, .bb {
    display: block;
}
.f, #af, .bb {
    color: #E6E6E6;
    background: black;
    padding: 0;
    flex-basis: 40px;
    display: flex;
    align-items: center;
}
#af, .bb {
    justify-content: center;
}
.f img, .f .sp {
    height: 24px;
    width: 24px;
    object-fit: cover;
    vertical-align: middle;
    padding: 0 12px;
}

.f:hover a, .f:focus a {
    color: #9D5548;
    background: #000;
}
.t {
    margin-top: 100px;
    flex-direction: column;
    min-height: calc(~'100%' - 101px);
    align-items: center;
    position: relative;

    @media all and (-ms-high-contrast:none) {
        height: 1px;
    }
    &:before {
        content: '';
        position: absolute;
        height: 42px;
        width: 40px;
        background: white;
        z-index: 10;
        margin-left: -130px;
        background: url('../f.svg') ~"-123px -391px/165px" auto no-repeat;
        bottom: 1px;
    }
}
#nc {
    width: 35px;
    height: 35px;
    background: #FFA500;
    padding: 0;
    position: relative;
    right: 9px;
    display: block;

    #cl {
        width: 35px;
        height: 35px;
    }

    ul {
        position: absolute;
        top: 35px;
        left: 0;
        padding: 2px 0 0 0;
        margin: 0;
        display:none;
    }

    &:hover, &:focus {
        ul {
            display: block;
        }
    }

    li {
        list-style-type: none;
        font-size: 12px;
        background: #666;
        margin-bottom: 1px;
        width: 35px;
        font-weight: 900;
        letter-spacing: -3px;
        cursor: pointer;
    }
}
#cf {fill:transparent;}
#ch, #cm { fill: #000; }
#m {
    position: fixed;
    left: 0;
    right: 0;
    margin: -165px auto 0;
    top: 50%;
    background: #ccc;
    padding: 20px;
    z-index: 4;
    display: block;
    max-width: calc(~'100%' - 60px);

    @media only screen and (max-width : 480px) {
        top: 260px;
    }
}

#mb {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 3;
}
#e {
    position: fixed;
    width: 100%;
    background: #990000;
    text-align: center;
    padding: 5px 5px;
}
.q {
    display: inline-block;
    width: 27px;
    height: 32px;
    line-height: 32px;
    margin: 8px;
    position: relative;
    background: #FFDD67;
    color: #000;
    padding-left: 5px;
    transform:rotate(90deg);

    span {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        transform:rotate(-90deg);
    }

    &.h {
        background: #50E3C2;
        span {
            background-position-y: -33px;
        }
    }

    &.s {
        background: #EF5350;
        span {
            background-position-y: -100px;
        }
    }
}
.vp {color: green;}
.vn {color: red;}
#c1, #c2, #c3, #c4 {
    position: absolute;
    display: block;
    top: 100px;
    left: 0;
    opacity: 0.6;
    z-index: 1;
    animation: 50s linear infinite cl;
}
@keyframes cl {
    0% {margin-left: 0;}
    100% {margin-left: 120%;}
}
#c1 {
    left: -172px;
    height: 100px;
    width: 172px;
    background: url(../f.svg) ~"-42px -1800px/749px";
    animation-duration: 40s;
}
#c2 {
    display: none;
}
#c3 {
    top: 200px;
    left: -200px;
    width: 200px;
    height: 140px;
    background: url(../f.svg) ~"-264px -1851px/749px";
    animation-duration: 30s;
}
#c4 {
    top: 50px;
    left: -133px;
    width: 133px;
    height: 70px;
    background: url(../f.svg) ~"-114px -936px/379px";
}
#s1, #s2, #s3, #s4 {
    position: absolute;
    height: 2px;
    width: 2px;
    display: block;
    top: 100px;
    left: 100px;
    background: white;
    animation: 3s linear infinite st;
    transition: opacity 3s;
    opacity: 0;

    .dt & {animation: none;}
}
@keyframes st {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
#s2 {
    top: 350px;
    left: 20%;
    animation-delay: 0.1s;
}
#s3 {
    top: 110px;
    left: 80%;
    animation-delay: 0.2s;
}
#s4 {
    top: 230px;
    left: 90%;
    animation-delay: 0.3s;
}
#zp {color: white;}
#nt { position: relative; left: -10px;}
