.mb {
    .f {
        display: block;
        width: 300px;
        max-width: 100%;
        text-align: left;
    }
    .f:last-child {
        border-bottom: 1px solid black;
    }
    .f a {
        margin-right:5px;
        display: inline-block;
        line-height: 43px;
    }
    .fd {
        position: fixed;
        left: 310px;
        top: 50px;
        width: 300px;
        line-height: 16px;
        background: white;
        font-size: 14px;
        height: 383px;
        display: none;

        li {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }
    .f:hover .fd {
        display: block;
    }
}
