.pi {
    display: block;
    width: 620px;
    max-width: 100%;
    margin: 0 auto;
}

.mb {
    position: relative;
    display: block;

    .f {
        display: block;
        width: 300px;
        max-width: 100%;
        text-align: left;

        @media only screen and (max-width : 480px) {
            width: 100%;
        }

    }
    .f:last-child {
        border-bottom: 1px solid black;
    }
    .f a {
        margin-right:5px;
        display: inline-block;
        line-height: 43px;
    }
    .fd {
        position: absolute;
        left: 310px;
        top: 5px;
        width: 300px;
        line-height: 18px;
        font-size: 16px;
        height: 383px;
        display: none;
        color: black;

        li {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }
    .f:hover .fd, .f:focus .fd {
        display: block;
        @media only screen and (max-width : 480px) {
            display: none;
        }
    }
    .f:first-child:after {
        position: absolute;
        top: 5px;
        left: 310px;
        width: 300px;
        content: 'Hover over a unit type for more information.';
        font-size: 16px;
        line-height: 18px;
        color: black;
    }
    @media only screen and (max-width : 480px) {
        .f:first-child:after {
            display: none;
        }
    }

    &:hover, &:focus {
        .f:first-child:after {
            display: none;
        }
    }
}
